In [3]:
* Сколько в датасете объектов и признаков? Дать описание каждому признаку, если оно есть.
    891 объект, 12 признаков. Название признаков говорит о себе:
        Идентификатор, выжили ли, класс, имя, пол, возраст, родственники, parch, билет(номер), тариф, место, начало 
* Сколько категориальных признаков, какие?
    категориальные признаки:
        выжили ли, класс, пол, возраст, родственники, parch, тариф, начало  
* Столбец с макимальным количеством уникальных значений категориального признака?
    имя
* Есть ли бинарные признаки?
    выжили ли, пол(всего 2 значения)
* Есть ли пропуски? 
    возраст = NaN
* Сколько объектов с пропусками?
    177
* Столбец с максимальным количеством пропусков?
    любой столбец с возрастом(NaN)
* Есть ли на ваш взгляд выбросы, аномальные значения?
    максимумы:
        тариф(512.3292), возраст(80)
* Столбец с максимальным средним значением после нормировки признаков через стандартное отклонение?
    	PassengerId(446)
* Столбец с целевым признаком?
    PassengerId
* Сколько объектов попадает в тренировочную выборку при использовании train_test_split с параметрами test_size = 0.3, random_state = 42?
    622 267
* Сколько признаков достаточно для объяснения 90% дисперсии после применения метода PCA?
    3
* Какой признак вносит наибольший вклад в первую компоненту?
    0.879 x SibSp

SyntaxError: invalid syntax (<ipython-input-3-cfd9129f3699>, line 1)

In [4]:
import numpy as np
import pandas as pd
data = pd.read_csv('titanic.csv')

In [13]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S